hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1em;
}

.rodape__titulo {
    font-size: 15px;
    display: flex;
    justify-content: center;
    color: var(--azul);
    font-weight: 700;

}

@media screen and (min-width: 1728px){
    .rodape {
        background-color: var(--laranja);
    }
}